@using ClientDependency.Core.Mvc
@using PinkTravel.Helper
@model PinkTravel.Models.Offer

@{
	ViewBag.Title = "Create";
    Html.RequiresJsFolder("~/Scripts/jquery").RequiresJsFolder("~/Scripts/jquery-ui");
    Html.RequiresJs("~/Scripts/jqueryval/jquery.validate.min.js");
    Html.RequiresJs("~/Scripts/jqueryval/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("~/Scripts/ajax/jquery.unobtrusive-ajax.min.js");
    Html.RequiresCss("~/Content/themes/base/minified/jquery-ui.min.css").RequiresCss("~/Content/themes/base/minified/jquery.ui.datepicker.min.css");
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Offer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.AddedDate)").datepicker();
        });
    </script>
	<fieldset>
		<legend>Offer</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.HotelName)
		</div>
		<div class="editor-field">
			@Html.ValidatedTextBoxFor(model => model.HotelName)
            @Html.ValidationMessageFor(model => model.HotelName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Location)
		</div>
		<div class="editor-field">
			@Html.ValidatedTextBoxFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
		</div>
		
        @Html.TextBoxFor(model => model.AddedDate)
        @Html.ValidationMessageFor(model => model.AddedDate)
        
        @Html.EditorFor(model => model.HotelWebSite)
        @Html.ValidationMessageFor(model => model.HotelWebSite)

        @Html.TextBoxFor(model => model.HotelDescription)
        @Html.ValidationMessageFor(model => model.HotelDescription)

	    @Html.LabelFor(model => model.HotelImage)
		@Html.EditorFor(model => model.HotelImage, new { imageRatio = "16/9", minWidth = 700 })

		@Html.LabelFor(model => model.LocationImage)
		@Html.EditorFor(model => model.LocationImage, new { imageRatio = "16/9", minWidth = 700 })

		<p>
			<input type="submit" name="Create" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>